html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*******************************HTML TAGS*************************************/
h1 {
  font-size: 150px;
  font-family: 'Bellefair', serif;
  text-decoration: none;
  line-height: 170px;
  font-weight: 400;
  margin: 24px auto 24px auto;
}

h2 {
  font-size: 100px;
  font-weight: 400;
  font-family: 'Bellefair', serif;
  margin-top: 38px;
  margin-bottom: 38px;
}

h3 {
  font-size: 56px;
  font-family: 'Bellefair', serif;
  font-weight: 400;
  color: #FFFFFF;
  margin-top: 24px;
}

h4 {
  font-size: 32px;
  font-family: 'Bellefair', serif;
  font-weight: 400;
  color: #0B0D17;
  margin-top: 24px;
}

h5 {
  font-size: 28px;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  letter-spacing: 4.725px;
  color: #D0D6F9;
  margin: 0;
}

p {
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: #D0D6F9;
  margin: 0;
}

hr {
  border-style: none;
  border-top: 1px solid #383B4B;
  margin: 40px auto 20px auto;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2.7px;
}

li {
  display: inline;
}

/******************************BCG IMAGE**************************************/
.home {
  background-image: url("../assets/home/background-home-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #FFFFFF;
  height: 900px;
  width: 1440px;
}

.destination {
  background-image: url("../assets/destination/background-destination-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #FFFFFF;
  height: 900px;
  width: 1440px;
}

.crew {
  background-image: url("../assets/crew/background-crew-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #FFFFFF;
  height: 900px;
  width: 1440px;
}

.technology {
  background-image: url("../assets/technology/background-technology-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #FFFFFF;
  height: 900px;
  width: 1440px;
}

/*********************************NAV BAR*************************************/
.logo {
  display: inline-block;
  margin: 64px auto auto 55px;
}

.rectangle {
  display: inline-block;
  margin: 88px auto auto 64px;
  height: 1px;
  width: 33%;
  background-color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.25;
  position: absolute;
  z-index: 1;
}

.strip {
  display: flex;
  list-style-type: none;
  height: 96px;
  width: 55%;
  mix-blend-mode: normal;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 40px;
}

.nav {
  margin: 24px;
  padding-bottom: 33px;
  position: relative;
  top: 40px;
}

.nav:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
}

.nav:active {
  border-bottom: 3px solid #FFFFFF;
}

li a.active {
  margin: 24px;
  padding-bottom: 33px;
  position: relative;
  top: 40px;
  border-bottom: 3px solid #FFFFFF;
}

/*********************************INDEX***************************************/
.main-container {
  width: 30%;
  position: absolute;
  left: 165px;
  top: 385px;
  text-align: left;
}

.button {
  height: 274px;
  width: 274px;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 420px;
  left: 975px;
}

.button:hover {
  box-shadow: 0 0 0 88px rgba(255, 255, 255, 0.1);
}

.explore {
  display: inline-block;
  position: absolute;
  top: 510px;
  left: 1045px;
}

/*///////////////////////////////DESTINATION/////////////////////////////////*/
.dest {
  position: absolute;
  left: 165px;
  top: 212px;
}

.num {
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.25;
  display: inline-block;
}

.pick {
  color: #FFFFFF;
  display: inline-block;
  margin-left: 40px;
}

.gogo {
  position: absolute;
  left: 230px;
  top: 340px;
}

.substrip {
  list-style-type: none;
  mix-blend-mode: normal;
  position: absolute;
  top: 310px;
  left: 810px;
  margin: auto;
  padding: 0;
}

.subnav {
  margin: auto 18px auto 18px;
  padding-bottom: 12px;
}

.subnav:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
}

.subnav:active {
  border-bottom: 3px solid #FFFFFF;
}

li a.activeagain {
  margin: auto 18px auto 18px;
  padding-bottom: 12px;
  border-bottom: 3px solid #FFFFFF;
}

.destination-container {
  width: 30%;
  position: absolute;
  left: 830px;
  top: 340px;
  z-index: 1;
}

.info1 {
  position: relative;
  left: 0;
}

.info2 {
  position: relative;
  left: 260px;
  bottom: 64px;
}

.footext {
  color: #D0D6F9;
  size: 14px;
  letter-spacing: 2.36px;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
}

.data {
  color: #FFFFFF;
  font-family: 'Bellefair', sans-serif;
}

/*/////////////////////////////////CREW/////////////////////////////////////*/
.div1 {
  position: absolute;
  top: 400px;
  left: 165px;
}

.div2 {
  position: absolute;
  top: 545px;
  left: 165px;
  width: 30%;
}

.role {
  color: #FFFFFF;
  opacity: 0.5;
  mix-blend-mode: normal;
  margin: auto;
}

.name {
  margin-top: 15px;
}

.man {
  position: absolute;
  left: 800px;
  top: 246px;
}

.butts {
  position: relative;
  left: 167px;
  top: 665px;
}

.circle {
  text-decoration: none;
  border-radius: 50%;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #FFFFFF;
  margin: auto 12px auto 12px;
  mix-blend-mode: normal;
  opacity: 0.17;
  padding: 0;
}

.circle:hover {
  opacity: 0.5;
}

.circle:active {
  opacity: 1;
}

.activecircle {
  text-decoration: none;
  border-radius: 50%;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #FFFFFF;
  margin: auto 12px auto 12px;
  mix-blend-mode: normal;
  padding: 0;
  opacity: 1;
}

/*/////////////////////////////////TECHNOLOGY////////////////////////////////*/
.butts2 {
  position: absolute;
  top: 383px;
  left: 165px;
}

.bigcircle {
  text-decoration: none;
  border-radius: 50%;
  display: block;
  width: 80px;
  height: 80px;
  padding: 0;
  mix-blend-mode: normal;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 1);
  opacity: 0.5;
  font-size: 32px;
  font-family: 'Bellefair', serif;
  font-weight: 400;
  margin: auto auto 32px auto;
  color: #FFFFFF;
  text-align: center;
  line-height: 2.5em;
}

.bigcircle:hover {
  opacity: 1;
}

.bigcircle:active {
  background: #FFFFFF;
  color: #0B0D17;
}

.activebigcircle {
  text-decoration: none;
  border-radius: 50%;
  display: block;
  width: 80px;
  height: 80px;
  padding: 0;
  mix-blend-mode: normal;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 1);
  font-size: 32px;
  font-family: 'Bellefair', serif;
  font-weight: 400;
  margin: auto auto 32px auto;
  text-align: center;
  line-height: 2.5em;
  background: #FFFFFF;
  color: #0B0D17;
}

.para {
  position: absolute;
  top: 383px;
  left: 325px;
  width: 33%;
  z-index: 1;
}

.terminology {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.20px;
  letter-spacing: 2.7px;
  color: #D0D6F9;
}

.launch-vehicle {
  margin: 11px auto 17px auto;
}

.vehicle {
  position: absolute;
  top: 272px;
  right: 0;
}
